<ion-toolbar>
  <ion-buttons slot="start">
      <ion-button (click)="init()">Login As: </ion-button>
      <ion-item>
        <ion-input type="text" [(ngModel)]="userId" placeholder="enter your nick name"></ion-input>
      </ion-item>
  </ion-buttons>
  <ion-title>Video calling app</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="call()">Call To: </ion-button>
          <ion-item>
            <ion-input type="text" [(ngModel)]="partnerId" placeholder="your partner nick name"></ion-input>
          </ion-item>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div id="errorMsg"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12">
        <video id="partner-video" (click)="swapVideo('my-video')" autoplay playsinline
        [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}">
        </video>
      </ion-col>

      <ion-col size="12" size-sm="12">
        <video id="my-video" (click)="swapVideo('partner-video')" autoplay playsinline
        [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" >
        </video>
      </ion-col>

    </ion-row>
  </ion-grid>
  
  
</ion-content>


